<div>
    <h2 data-translate="gpbatApp.chantier.home.title">Chantiers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="chantier.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="gpbatApp.chantier.home.createLabel">
                        Create new Chantier
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpbatApp.chantier.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span data-translate="gpbatApp.chantier.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adresse"><span data-translate="gpbatApp.chantier.adresse">Adresse</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateDebut"><span data-translate="gpbatApp.chantier.dateDebut">Date Debut</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateDemandeTravaux"><span data-translate="gpbatApp.chantier.dateDemandeTravaux">Date Demande Travaux</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receptionId"><span data-translate="gpbatApp.chantier.reception">Reception</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="piloteId"><span data-translate="gpbatApp.chantier.pilote">Pilote</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commandeId"><span data-translate="gpbatApp.chantier.commande">Commande</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="chantier in vm.chantiers track by chantier.id">
                    <td><a ui-sref="chantier-detail({id:chantier.id})">{{chantier.id}}</a></td>
                    <td>{{chantier.reference}}</td>
                    <td>{{chantier.adresse}}</td>
                        <td>{{chantier.dateDebut | date:'mediumDate'}}</td>
                        <td>{{chantier.dateDemandeTravaux | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="reception-chantier-detail({id:chantier.receptionId})">{{chantier.receptionId}}</a>
                    </td>
                    <td>
                        <a ui-sref="utilisateur-detail({id:chantier.piloteId})">{{chantier.piloteId}}</a>
                    </td>
                    <td>
                        <a ui-sref="commande-detail({id:chantier.commandeId})">{{chantier.commandeId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="chantier-detail({id:chantier.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chantier.edit({id:chantier.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chantier.delete({id:chantier.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
