<div>
    <h2 data-translate="gpbatApp.produitPartenaire.home.title">Produit Partenaires</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="produit-partenaire.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="gpbatApp.produitPartenaire.home.createLabel">
                        Create new Produit Partenaire
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'gpbatApp.produitPartenaire.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="article"><span data-translate="gpbatApp.produitPartenaire.article">Article</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="libelle"><span data-translate="gpbatApp.produitPartenaire.libelle">Libelle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unite"><span data-translate="gpbatApp.produitPartenaire.unite">Unite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prix"><span data-translate="gpbatApp.produitPartenaire.prix">Prix</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bordereauId"><span data-translate="gpbatApp.produitPartenaire.bordereau">Bordereau</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="produitPartenaire in vm.produitPartenaires track by produitPartenaire.id">
                    <td><a ui-sref="produit-partenaire-detail({id:produitPartenaire.id})">{{produitPartenaire.id}}</a></td>
                    <td>{{produitPartenaire.article}}</td>
                    <td>{{produitPartenaire.libelle}}</td>
                    <td data-translate="{{'gpbatApp.UniteMetrique.' + produitPartenaire.unite}}">{{produitPartenaire.unite}}</td>
                    <td>{{produitPartenaire.prix}}</td>
                    <td>
                        <a ui-sref="bordereau-detail({id:produitPartenaire.bordereauId})">{{produitPartenaire.bordereauId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="produit-partenaire-detail({id:produitPartenaire.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="produit-partenaire.edit({id:produitPartenaire.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="produit-partenaire.delete({id:produitPartenaire.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
